In [1]:
%cd ..

In [2]:
import datetime
from pytz import timezone

In [3]:
from pathlib import Path

In [4]:
from get_stock_price import StockDatabase

### データベースのコンストラクト

In [5]:
db_path = Path("db/stock_db") / Path("stock.db")
stock_db = StockDatabase(db_path)

### 新しいサブデータベースの作成

In [6]:
new_db_path = Path("db/sub_stock_db") / Path("sub_stock.db")

jst_timezone = timezone("Asia/Tokyo")
start_datetime = jst_timezone.localize(datetime.datetime(2020,11,1,0,0,0))
end_datetime = jst_timezone.localize(datetime.datetime(2020,12,1,0,0,0))
#end_datetime = get_next_workday_jp(start_datetime, days=11)  # 営業日で一週間(5日間)

stock_list = ["4755","9984","6701","6502","7203","7267"]

new_db = stock_db.make_db(new_db_path, 
                          stock_names=stock_list,
                          start_datetime=start_datetime,
                          end_datetime=end_datetime
                         )

count :86

In [20]:
stock_names = ["4755"]
stock_df = new_db.search_span(stock_names,
                              start_datetime=start_datetime,
                              end_datetime=end_datetime,
                              freq_str="T",
                              to_tokyo="True"
                             )

In [21]:
stock_df

,Open_4755,High_4755,Low_4755,Close_4755,Volume_4755
timestamp,,,,,
2020-11-02 09:00:00+09:00,1005.0,1008.0,1000.0,1005.0,0.0
2020-11-02 09:01:00+09:00,1006.0,1017.0,1006.0,1016.0,53900.0
2020-11-02 09:02:00+09:00,1019.0,1019.0,1019.0,1019.0,63200.0
2020-11-02 09:03:00+09:00,1019.0,1020.0,1016.0,1017.0,79900.0
2020-11-02 09:04:00+09:00,1016.0,1017.0,1014.0,1017.0,41800.0
...,...,...,...,...,...
2020-11-30 23:55:00+09:00,NaN,NaN,NaN,NaN,NaN
2020-11-30 23:56:00+09:00,NaN,NaN,NaN,NaN,NaN
2020-11-30 23:57:00+09:00,NaN,NaN,NaN,NaN,NaN
2020-11-30 23:58:00+09:00,NaN,NaN,NaN,NaN,NaN
2020-11-30 23:59:00+09:00,NaN,NaN,NaN,NaN,NaN

In [22]:
stock_names = ["4755"]
stock_df = stock_db.search_span(stock_names,
                              start_datetime=start_datetime,
                              end_datetime=end_datetime,
                              freq_str="T",
                              to_tokyo="True"
                             )

In [10]:
stock_df

,Open_4755,High_4755,Low_4755,Close_4755,Volume_4755
timestamp,,,,,
2020-11-02 09:00:00+09:00,1005.0,1008.0,1000.0,1005.0,0.0
2020-11-02 09:01:00+09:00,1006.0,1017.0,1006.0,1016.0,53900.0
2020-11-02 09:02:00+09:00,1019.0,1019.0,1019.0,1019.0,63200.0
2020-11-02 09:03:00+09:00,1019.0,1020.0,1016.0,1017.0,79900.0
2020-11-02 09:04:00+09:00,1016.0,1017.0,1014.0,1017.0,41800.0
...,...,...,...,...,...
2020-11-30 23:55:00+09:00,NaN,NaN,NaN,NaN,NaN
2020-11-30 23:56:00+09:00,NaN,NaN,NaN,NaN,NaN
2020-11-30 23:57:00+09:00,NaN,NaN,NaN,NaN,NaN
2020-11-30 23:58:00+09:00,NaN,NaN,NaN,NaN,NaN
2020-11-30 23:59:00+09:00,NaN,NaN,NaN,NaN,NaN